<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Welcome <%=@user.name if @user%></h3>
      <p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>
    </div>
  </div>
</div>
