<div class="container">
  <div class="row">
    <div class="col-md-12">
      <% content_for :title do %>About<% end %>
      <h3>DoxBox</h3>
      <p>
        API hosting platform with user access management
      </p>
    </div>
  </div>
</div>
