// Color scheme
$color1: #ffffff;
$color2: #3b413c;
$color3: #9db5b2;
$color4: #daf0ee;
$color5: #94d1be;

//Color assignments
$background: $color1;
$navbar: $color2;
$button-color: $color5;
$text-color-main: black;
$text-color-alt: white;








//Body

body {
	background-color: $background;
}

a {
	color: $text-color-main;
	text-decoration: none;
}

a:hover {
	color: $button-color;
	text-decoration: none;
}








//Buttons

.btn-main {
  background: $button-color;
  color: $text-color-main;
}

.btn-primary {
  background: $button-color;
  color: $navbar;
  border-color: $button-color;
  border-radius: 15px;
}

.btn-primary:hover {
  background: $text-color-alt;
  color: $text-color-main;
  border-color: $button-color;
  border-radius: 15px;
}









//Navbar

nav#navbar-inverse.navbar.navbar-inverse.navbar-fixed-top {
	background-color: $navbar;
}

.navbar-inverse .navbar-nav > li > a {
	color: $text-color-alt;
}

.navbar-inverse .navbar-nav > li > a:hover {
	color: $button-color;
}











//Dropdown (admin, user, contractor)

.list-select {
  appearance: none;
  background: url(/assets/arrow-down.png) 96% / 15% no-repeat $button-color;
  border: 1px solid $button-color;
  border-radius: 0;
  font-size: 12px;
  outline: 0;
  padding: 15px 35px 15px 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.list-select:hover {
  appearance: none;
  background: url(/assets/arrow-down.png) 96% / 15% no-repeat $text-color-alt;
  border: 1px solid $button-color;
  border-radius: 0;
  font-size: 12px;
  outline: 0;
  padding: 15px 35px 15px 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
}










//Table

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
	padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid $navbar;
}









//Logo

.logo {
	width: 1em;
}